@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

body {
    background-color: black;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0px;
    position: relative;
}

.home ul li {
    display: flex;
    gap: 15px;
    list-style: none;
    width: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
    

}

.heading img{
    width: 25px;
}

.footer {
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a{
    color:gray
}

.library{
    min-height: 80vh;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);  
  
}
.header > *{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 16px;
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap:10px;

    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;

}

.card > *{
    padding-top: 10px;
}

.spotifyPlaylists img{
    width: 100%;
    object-fit: contain;
}

.play{
    top:273px;
    position: absolute;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}

.buttons > *{
    margin: 0 12px;
}
.signupbtn{
    background-color:rgb(34, 34, 34);
    font-weight: bold;
    color: rgb(156,148,148);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    border-radius: 23px;
    color: black;
    padding: 10px;
    width: 79px;
    font-size: 16px;
    cursor: pointer;
}
.loginbtn:hover{
    font-size: 17px;
    font-weight: bold;
}

.playbar{
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    width: 90%;
    background: #dad5d5;
    border-radius: 10px;
    width: 70vw;
    padding: 12px;
    height: 40px;
}

.songbutton{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.songlist ul{
    padding: 0 12px;
    
}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    padding: 13px;
    margin: 10px 0;
    border-radius: 5px;
    justify-content: space-between;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.playnow span{
    font-size: 12px;
    width: 64px;
    padding: 12px;
}

.songlist .info{
    font-size:14px;
    width: 344px;
}

.songlist{
    height: 544px;
    overflow: scroll;
    margin-bottom: 44px;
}

.hamburger{
    display: none;
}
.hamburgercontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:14px;
}
.seekbar{
    width: 90%;
    height: 4px;
    background: black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 12px;
    cursor: pointer;
}
.circle{
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: black;
    position:relative;
    bottom: 4.5px;
    left: 0%;   
    transition: left 0.5s;
}

.songbutton img{
    cursor: pointer;
}
.songinfo, .songtime{
    color: black;
    padding: 0 12px;
}
.abovebar{

    display: flex;
    justify-content: space-between;
    /* margin: 20px 0; */
   
}

@media (max-width: 1400px){ 
    .left{
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 370px;
        background-color: black;
    }
.left .close{
    position: absolute;
    top: 25px;
    right: 31px;
    width: 30px;
}

    .right{
        width: 100vw;
    }

    .playbar{
        width: 86vw;
        
    }
    .hamburger{
        display: block;
    }
    .seekbar{
        width: 85%;
    }
    .card{
        width: 90vw;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
}